@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	
}
ul{
	list-style:none;
}
#base{
	width:900px;
	margin-left: auto;
	margin-right: auto;
}
#busca{
	width:900px;
	padding:10px 6px; 
	font-size:15px;
}
#user_list>li{
	width:100%;
	border-bottom:1px solid #D7D7D7;
}
#user_list>li .moldura{
	text-align:center;
	padding:10.5px 15px;
	overflow:hidden;
	border-radius:100%;
	float:left;
	clear:both;
	
}
#user_list>li .moldura img.perfil{
	width:60px;
	height:60px;
}
#user_list>li h1{
	font:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#0080FF;

}
.dados_user{
	margin-bottom:3px;
	font-size:12px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
}
.clear{
	clear:both;
}
.verRepositorios{
	position:absolute;
	left:930px;
}
.repos_list{
	max-height:250px;
	margin-top:25px;
	margin-bottom:2px;
	overflow-y:scroll;
}
.repos_list li{
	padding:5px 0;
}
.repos_list li a{
	text-decoration:none;
	font-size:14px;
	color:#06F;
}