@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	
}
ul{
	list-style:none;
}
.titulo{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#CCC;
	margin-bottom:15px;
}
#score{
	margin-left:30px;
}
#base{
	width:900px;
	margin-left: auto;
	margin-right: auto;
}
#busca{
	width:900px;
	padding:10px 6px; 
	font-size:15px;
}
#user_list>li{
	width:100%;
	border-bottom:1px solid #D7D7D7;
}
#user_list>li .moldura{
	text-align:center;
	padding:10.5px 15px;
	overflow:hidden;
	border-radius:100%;
	float:left;
	clear:both;
	
}
#user_list>li .moldura img.perfil{
	width:60px;
	height:60px;
}
#user_list>li h1{
	font:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#0080FF;

}
.dados_user{
	margin-bottom:3px;
	font-size:12px;
	color:#999;
	font-family:Arial, Helvetica, sans-serif;
}
.clear{
	clear:both;
}
.verRepositorios{
	position:absolute;
	left:930px;
}
.repos_list{
	max-height:250px;
	margin-top:25px;
	margin-bottom:2px;
	overflow-y:scroll;
}
.repos_list li{
	padding:10px 0;
	border-bottom:1px solid #CCC;
}
.repos_list li a{
	text-decoration:none;
	font-size:14px;
	color:#06F;
}
.conteiner{
	width:300px;
	float:right;
}

.info-repos{
	color:#000;
	font-weight:bold;
	padding:5px 0px 5px 10px;
	border-radius: 3px;
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	border:1px solid #999;
	margin-right:30px;
}
.info-repos>i{
	background:#FFF;
	padding:5px;
	border-left:1px solid #CCC;
}